:root {
    --el-color-primary: #356bb3 !important;
    --el-color-primary-light-3: #2858a1 !important;
    --el-color-success: #4cbc32 !important;
    --el-color-warning: #f7a000 !important;
    --el-color-danger: #ce3429 !important;
    --el-color-info: #333333 !important;
}
.el-date-editor {
    --el-date-editor-width: 100% !important;
}
